body{
    font-family: 'Montserrat', sans-serif;
    color: #575757;
}
h1{
    font-size: 50px;
    line-height: 80px;

}
h2{
    font-size: 30px;
}
p{
    font-size: 20px;
}
section{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}
.tomato-color{
    color: #FC9149;
}
.flex-container{
    display: flex;
    margin-bottom: 80px;
    
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.link-button{
    margin-top: 40px;
    padding: 15px 40px;
    display: inline-block;
    background-image: linear-gradient(to right, tomato , #FC9149);
    border-radius: 50px;
    text-decoration: none;
    color: White;
    font-size: 20px;
    font-weight: bolder;

}


/*---- Top Banner Section ----*/


.top-banner{
    padding-top: 50px;
}
.top-banner img{
    width: 100%;
    margin-top: -35px;
    background-image: url(images/Group\ 88.png);
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 90%;  
}



/*---- About Me Section ----*/


.about-me{
    padding-top: 70px;
    background-image: url(images/about-me.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: full-width;
}
.about-me img{
    width: 50%;
    margin-left: 140px;
    margin-top: -20px;
}


/*---- My Recipies Section ----*/


.my-recipies{

}
.my-recipies h2{
    text-align: center;
}
.my-recipies p{
    text-align: center;
    font-size: 15px;
    padding: 0px 20%;
}
.recipie-item{
    width
}