*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    color: #575757;
}
h1{
    font-size: 50px;
    line-height: 80px;

}
h2{
    font-size: 30px;
}
p{
    font-size: 20px;
}
section{
    width: 100%;
}
.tomato-color{
    color: #FC9149;
}
.flex-container{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    display: flex;
    margin-bottom: 80px;
    
}
.half-width{
    width: 50%;
}
.link-button{
    margin-top: 50px;
    padding: 15px 40px;
    display: inline-block;
    background-image: linear-gradient(to right, tomato , #FC9149);
    border-radius: 50px;
    text-decoration: none;
    color: White;
    font-size: 20px;
}


/*---- Top Banner Section ----*/


.top-banner{
    padding-top: 50px;
}
.top-banner img{
    width: 100%;
    margin-top: -45px;
    background-image: url(images/Group\ 88.png);
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 90%;  
}
.top-banner p{
    margin-top: 30px;
}



/*---- About Me Section ----*/


.about-me{
    padding-top: 50px;
    background-color: #FFF4EE;
    background-image: url(images/about-me.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: full-width;
}
.about-me img{
    margin-bottom: -4px;
    width: 50%;
}
.about-me h2{
    margin-top: 50px;
}
.about-me p{
    margin-top: 50px;
}


/*---- My Recipies Section ----*/


#my-recipes{

}
#my-recipes> h2{
    text-align: center;
}
#my-recipes> p{
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 0px 30%;
    text-align: center;
    
}
.recipes{
    display: flex;
    padding: 0 ;
}
.recipes :first-child{
    margin-right: 5%;
}
.recipes :last-child{
    margin-left: 5%;
}

.recipes-item{
    width: 30%;
    box-shadow: 5px 5px 40px gray;
    padding: 20px;
    border-radius: 20px;
}
.recipes-item img{
    width: 100%;
}
.recipes-item h2{
    color: black;
    text-align: left;
}
.recipes-item> p{
    color: black;
    text-align: left;
}


/*---- Social Media---*/


.social-media{
    box-shadow: 5px 5px 40px gray;
    border-radius: 20px;
    padding-bottom: 70px;
    padding-top: 50px;
    color: black;
    margin-top: 140px;
}
.social-media-item{
    width: 30%;
    margin-right: 5%;
    margin-left: 5%
}
.social-media-item p{
    font-size: 17px;
}


/*---Footer Section---*/

footer{
    
    margin-top: 20px;
    padding-top: 50px;
    padding-bottom: 70px;
    background-color: #0A0D16;
    text-align: center;
}
